/* 转载请注明出处：网页设计之家  www.mysite.com */
body {
	background: url(../images/bg.png) center;
	margin: 0 auto;
	width: 960px;
	padding: 50px
}
.accordion {
	position: relative;
	margin: 0 auto;
}
.footer {
	margin-top: 50px;
	text-align:center;
	color:#666;
	font:bold 14px Arial;
}
.footer a {
	color:#999;
	text-decoration:none;
}
.accordion, .accordion div, .accordion h1, .accordion p, .accordion a, .accordion img, .accordion span, .accordion em, .accordion ul, .accordion li {
	margin: 0;
	padding: 0;
	border: none;
}
/* 转载请注明出处：网页设计之家  www.mysite.com */

.accordion {
	width: 290px;
	padding: 1px 5px 5px 5px;
	background: #141517;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin:0 auto;
}
.accordion .tab {
	display: block;
	height: 35px;
	margin-top: 4px;
	padding-left: 20px;
	font: bold 12px/35px Arial, sans-serif;
	text-decoration: none;
	color: #eee;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #6c6e74; /* Old browsers */
	background: -moz-linear-gradient(top, #6c6e74 0%, #4b4d51 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c6e74), color-stop(100%, #4b4d51)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6c6e74 0%, #4b4d51 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6c6e74 0%, #4b4d51 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6c6e74 0%, #4b4d51 100%); /* IE10+ */
	background: linear-gradient(top, #6c6e74 0%, #4b4d51 100%); /* W3C */
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .1);
	-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .1);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .1);
}
.accordion .tab:hover, .accordion div:target .tab {
	color: #2b3b06;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .15);
	background: #a5cd4e; /* Old browsers */
	background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5cd4e), color-stop(100%, #6b8f1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%); /* IE10+ */
	background: linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%); /* W3C */
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 1px 1px 1px rgba(255, 255, 255, .45);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 1px 1px 1px rgba(255, 255, 255, .45);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 1px 1px 1px rgba(255, 255, 255, .45);
}
.accordion div .content {
	display: none;
	margin: 5px 0;
}
.accordion div:target .content {
	display: block;
}
.accordion > div {
	height: 40px;
	overflow: hidden;
 -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out;
 -o-transition: all .3s ease-in-out;
 -ms-transition: all .3s ease-in-out;
 transition: all .3s ease-in-out;
}
.accordion > div:target {
	height: 360px;
}
/* Accordion Content Styles */

.accordion .content h1 {
	color: white;
	font: 18px/32px Arial, sans-serif;
}
.accordion .content p {
	margin: 10px 0;
	color: white;
	font: 11px/16px Arial, sans-serif;
}
.accordion .content span {
	font: italic 11px/12px Georgia, Arial, sans-serif;
	color: #4f4f4f;
}
.accordion .content em.bullet {
	width: 5px;
	height: 5px;
	margin: 0 5px;
	background: #6b8f1a;
	display: inline-block;
	-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4);
	-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4);
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.accordion .content ul li {
	list-style: none;
	float: left;
	margin: 5px 10px 5px 0;
}
.accordion .content img {
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}
/* 转载请注明出处：网页设计之家  www.mysite.com */