.swords
  .sword.jedi
    .blade
    .grip
    
  .sword.samurai
    .blade
    .guard
    .grip
    
    
  .sword.sith
    .blade
    .grip
    
  .sword.knight
    .blade
    .guard
    .grip
    .knob
    
    
  .sword.jedi.green
    .blade
    .grip